@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }
html{
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2 ;
  color: #000000;
}
.page-container{
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow:5px 0 5px rgba(0, 0, 0, 0.1),-5px 0 5px rgba(0, 0, 0, 0.1);
}
.visually-hidden{
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
/* Навигация */
.navigation{
  display: flex;
  width: 1060px;
  margin: 0 auto;
}
.navigation-logo{
  margin: 0;
  position: absolute;
  z-index: 1;
}
.navigation-list{
  width: 450px;
  margin: 0;
  padding: 0;
  padding-left: 185px;
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  list-style-type: none;
}
.navigation-link{
  position: relative;
  padding: 20px 0;
  margin-right: 32px;
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}
.navigation-link:focus-visible{
  outline: none;
  border:2px solid #82B3D3;
}
.navigation-link-current:after{
  position: absolute;
  bottom:0;
  left: 0;
  content:"";
  width: 100%;
  height: 2px;
  background-color: #756257;
}
.navigation-user{
  margin: 0;
  padding: 0;
  max-width: 280px;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  list-style-type: none;}

.navigation-icon{
  padding: 20px;
}
.navigation-icon:focus-visible{
  outline: none;
  border:2px solid #82B3D3;
}
.navigation-icon-search{
  background: url(../images/header/search.svg) no-repeat;
  background-position: 50% 50%;
}
.navigation-icon-favorites{
  position: relative;
  background: url(../images/header/favorites.svg) no-repeat;
  background-position: 50% 50%;
}
.navigation-icon-favorites:before{
  position: absolute;
  content:"12";
  padding: 5px;
  top:10px;
  font-size: 10px;
  line-height: 10px;
  color:#ffffff;
  background-color: #7DB54F;
  border-radius: 50%
}
.navigation-button{
  padding: 8px 34px;
  margin-left: 19px;
  border-radius: 4px;
  display: block;
  background-color: #756157;
  color:#ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}
.navigation-button:hover{
  background-color: #615048;
}
.navigation-button:focus{
  outline: none;
  background-color: #615048;
}
.navigation-button:focus-visible{
  background-color: #615048;
}
.navigation-button:active{
  color:rgba(255, 255, 255, 0.3);
}
.main-container{
  flex-grow: 1;
}
.hero{
  height: 485px;
  color:#000000;
  background-color: #6d6d6d;
  background-image: url(../images/zigzag.svg),url(../images/sedona.jpg);
  background-position: bottom;
  background-repeat:no-repeat;
  background-size: 100% auto;
}
.hero-logo{
  display: block;
  margin: 0 auto;
  padding-top: 50px;
}
.block{
  margin: 0 auto;
  text-align: center;
}
.pressents-title{
  margin: 0 auto ;
  padding: 70px 0 25px;
  width: 620px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.pressents-description{
  margin: 0 auto;
  padding-bottom: 90px;
  width: 651px;
  font-size: 22px;
  line-height: 26px;
  color:#333333;
}
/* Блок преимуществ */
.advanteges-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}
.list-item{
  min-width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
}
.list-item-food{
  background-color: #ffffff;
}
.list-item-road{
  background-color: rgba(131, 179, 211, 0.2);
}
.advanteges-title{
  margin: 0 auto;
  padding: 100px 114px 60px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.title-after{
  position: relative;
}
.title-after:after{
  content:"";
  position: absolute;
  margin-left:-30px;
  left: 50%;
  top: 190px;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
}
.list-item:nth-child(1) .title-after:after{
  background-color: rgba(255, 255, 255, 0.3);
}
.list-item:nth-child(5) .title-after:after{
  background-color: rgba(255, 255, 255, 0.3);
}
.list-item:nth-child(2){
  padding-bottom: 25px;
}
.title-house{
  position: relative;
  padding: 182px 114px 30px;
}
.title-house:before{
  position: absolute;
  content:"";
  width: 75px;
  height: 75px;
  top: 80px;
  left:164px;
  background: url(../images/house.svg) no-repeat;
}
.title-food{
  position: relative;
  padding: 182px 114px 30px;
}
.title-food:before{
  position: absolute;
  content:"";
  width: 75px;
  height: 75px;
  top: 80px;
  left:164px;
  background: url(../images/burger.svg) no-repeat;
}
.title-gift{
  position: relative;
  padding: 182px 114px 30px;
}
.title-gift:before{
  position: absolute;
  content:"";
  width: 75px;
  height: 75px;
  top: 80px;
  left:164px;
  background: url(../images/gift.svg) no-repeat;
}
.advanteges-description{
  margin: 0;
  padding: 0 85px 100px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color:#333333;
}
.description-pad{
  padding-bottom: 80px;
}
.advanteges-white{
  display: flex;
  background-color: #82B3D3;
}
.advanteges-white-text{
  color:#ffffff;
}
.advanteges-white-text h3{
  padding-top: 90px;
}
.advanteges-white-text p{
  color: #ffffff;
}
.list-text{
  max-width: 400px;
  text-align: center;
}
/* Блок поиска */
.search-room{
  text-align: center;
  background-color:#ffffff;
  color: #000000;
}

.search-room-title{
  margin: 0;
  padding: 100px 0 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.search-room-subtitle{
  margin:0 auto;
  padding: 0 300px 55px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color:#333333;
}
.search-room-link{
  margin: 0 auto;
  margin-bottom: 95px;
  padding:8px 0;
  max-width: 376px;
  display: block;
  background-color: #756157;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  color:#ffffff;
  text-transform: uppercase;
  border-radius: 4px;
}
.search-room-link:hover{
  background-color:#615048;
}
.search-room-link:focus{
  outline: none;
  background-color:#615048;
}
.search-room-link:active{
  color:rgba(255, 255, 255, 0.3);
}
/* Блок подписки */
.subscribe{
  min-height: 415px;
  color: #ffffff;
  background-color: #093ff1;
  background-image:url(../images/background-subscribe.jpg);
  background-size:100% auto;
  background-repeat: no-repeat;
  text-align: center;
}
.subscribe-title{
  margin: 0;
  padding: 96px 0 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.subscribe-description{
  margin: 0;
  padding-bottom: 55px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}
.subscribe-form{
  display: grid;
  grid-template-columns: 452px 232px;
  justify-content: center;
}
.subscribe-form-email{
  padding: 0 20px ;
  grid-column: 1/2;
  border-width:0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.subscribe-form-email:focus{
  outline: none;
  border:2px solid #82B3D3;
}
.subscribe-form-email-inner{
  background-color: #F2F2F2;
}
.subscribe-button{
  padding: 8px 0;
  grid-column: 2/3;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color:#ffffff;
  background-color: #82B3D3;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
}
.subscribe-button:hover{
  background-color: #68A2CA;
}
.subscribe-button:focus{
  outline: none;
  background-color: #68A2CA;
}
.subscribe-button:active{
  color:rgba(255, 255, 255, 0.3);
}

/* Футер */
.footer{
  background-color:#ffffff;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-social-list{
  max-width: 150px;
  margin: 0;
  padding: 0;
  padding-left: 81px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;

}
.footer-link{
  padding: 10px;
  width: 25px;
  height: 15px;
}
.icon-footer{
  fill:#83B3D3;
}
.footer-link:focus{
  outline: none;
  border:2px solid #82B3D3;
}
.footer-link:hover .icon-footer{
  fill:#68A2CA;
}
.footer-link:focus .icon-footer{
  fill:#68A2CA;
}
.footer-link:active .icon-footer{
  fill:rgba(104, 162, 202, 0.3);
}
.icon-footer:active{
  fill:rgba(104, 162, 202, 0.3);
}
.footer-contact{
  margin-left: -10px;
  padding: 45px 0 35px;
  display: block;
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color:#000000;
}
.footer-contact:hover{
  color:#756157;
}
.footer-contact:focus{
  outline: none;
  color:#756157;
}
.footer-contact:active{
  color:rgba(117, 97, 87, 0.3);
}
.footer-logo{
  width: 115px;
  height: 35px;
  margin-right: 70px;
}
.footer-logo svg{
  fill:#000000;
}
.footer-logo:hover svg{
  fill:#756157;
}
.footer-logo:focus{
  outline: none;
}.footer-logo:focus svg{
  fill:#756157;
}
.footer-logo:active svg{
  fill:rgba(117, 97, 87, 0.3);
}
/* Страница с отелями */
.inner-header{
  background-color: #e67103;
  background-image: url(../images/background-filters.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  color:#ffffff;
}
.inner-header-title{
  margin: 0;
  margin-bottom: 10px;
  padding-left: 70px;
  padding-top: 35px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}
.breadcrumbs{
  list-style-type: none;
  margin: 0;
  margin-left: 60px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.breadcrumbs-item:first-child .breadcrumbs-link{
  position: relative;
}
.breadcrumbs-item:first-child .breadcrumbs-link:before{
  content:"";
  width: 10px;
  height: 10px;
  right: -10px;
  top: 15px;
  background: url(../images/row.svg) no-repeat;
  position: absolute;
}
.breadcrumbs-link{
  padding: 10px;
  margin-right: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
.breadcrumbs-link:focus{
  outline: none;
}
/* Формы */
.form-filters{
  margin: 0;
  padding: 40px 70px 50px;
  display: flex;
  justify-content: space-between;
  align-items:center;
}
.filters-group{
  margin: 0;
  padding: 0;
  border:none;
}
.filters-title{
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.filters-button-group{
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.catalog-filter-group{
  border:none;
  margin: 0;
  padding: 0;
}
.range-scale {
  width: 287px;
  position: relative;
  height: 4px;
  background-color: #666565;
  border-radius: 2px;
}
.range-bar {
  width: 226px;
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}
.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  cursor: pointer;
  border:none;
  border-radius:4px;
}
.range-toggle:active{
  outline: 2px solid #dbb590;
}
.range-toggle:focus{
  outline: 3px solid #83B3D3;
}
.toggle-min {
  top: -8px;
  left: -2px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}
.range-wrapper-inputs {
  display: flex;
  justify-content: center;
  color:#666565;
}

.catalog-filter-label {
  box-sizing:border-box;
  max-width: 143px;
  display: flex;
  align-items:center;
  justify-content: space-around;
  margin-right: 2px;
  background-color: #F2F2F2;
  margin-bottom: 48px;
  padding: 0;
}
.range-input {
  max-width: 50%;
  padding: 12px 0;
  margin: 0;
  font: inherit;
  font-weight: 700;
  text-align: start;
  font-size: 18px;
  line-height: 24px;
  border: none;
  appearance: textfield;
  background-color: transparent;
}
.catalog-filter-label:first-child{
  border-top-left-radius:4px;
  border-bottom-left-radius:4px;
}
.catalog-filter-label:last-child{
  border-top-right-radius:4px;
  border-bottom-right-radius:4px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
.filters-list{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.filters-item{
  padding-bottom: 16px;
}
.control{
  font-weight: 400;
  line-height: 23px;
}

.filtres-button{
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border:none;
  padding: 8px 50px;
}
.button-apply{
  background-color: #82B3D3;
  color:#ffffff;
  border-radius: 4px;
}
.button-apply:hover{
  background-color: #68A2CA;
}
.button-apply:focus-visible{
  outline: none;
  background-color: #68A2CA;
}
.button-apply:active{
  color: rgba(255, 255, 255, 0.3);
}
.button-cancel{
  margin-top: 20px;
  color:#ffffff;
  background:transparent;
}
.button-cancel:hover{
  color: rgba(255, 255, 255, 0.5);
}
.button-cancel:focus-visible{
  outline: none;
  border: 2px solid #68A2CA;
}
.button-cancel:active{
  color: rgba(255, 255, 255, 0.3);
}
.select{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.result-search{
  width: 1060px;
  margin: 0 auto;
  color:#000000;
  background-color: #ffffff;
}
.result-search-title{
  margin: 0;
  margin-bottom: 50px;
  padding-top: 60px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color:#000000;
  text-transform: uppercase;
}
.select-control{
  padding: 10px 100px 10px 10px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  border: 2px solid #F2F2F2;
  border-radius:4px;
}
.select-control:focus-visible{
  outline: none;
  border: 2px solid #68A2CA;
}
.vissual-button{
  display: flex;
}
.vissual-button a{
  margin-right: 10px;
  padding: 15px;
  display: block;
  border: 2px solid #F2F2F2;
  border-radius:4px;
}
.vissual-button a:hover{
  border: 2px solid black;
}
.vissual-button a:focus-visible{
  outline: none;
  border: 2px solid #68A2CA;
}
.vissual-svg svg{
  fill:#000000;
}
.hotels-list{
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type:none;
}
.hotels-card{
  max-width: 340px;
  box-sizing:border-box;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 20px;
  grid-template-areas:
  "img img"
  "title title"
  "status price"
  "button-more button-like"
  "stars rating";
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px;
  text-align: left;
  border: 1px solid #F2F2F2;
  border-radius:4px;
}
.hotels-card:nth-child(3n+3){
  margin-right: 0;
}
.hotels-card-link{
  grid-area: img;
}
.product-card-title{
  margin: 0;
  padding: 0;
  grid-area: title;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.status{
  margin: 0;
  grid-area: status;
  justify-self: start;
  color:#333333;
}
.price{
  margin: 0;
  grid-area: price;
  justify-self: end;
  color:#333333;
}
.rating{
  margin: 0;
  padding: 9px 20px;
  grid-area: rating;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #333333;
  background-color: #F2F2F2;
  text-transform: uppercase;
}

.stars{
  grid-area: stars;
}
.stars img{
  margin-right: 6px;
  margin-top: 10px;
}
.hotels-card-button{
  padding: 8px 18px;
  display: block;
  text-decoration: none;
  color:#ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color:#756157;
  border-radius: 4px;
}
.like-button{
  background-color:#82B3D3;
  grid-area: button-like;
}
.like-button:hover{
  background-color: #68A2CA;
}
.like-button:focus-visible{
  outline: none;
  background-color: #68A2CA;
}
.like-button:active{
  color: rgba(255, 255, 255, 0.3);
}
.more-button{
  grid-area: button-more;
}
.more-button:hover{
  background-color: #615048;
}
.more-button:focus-visible{
  outline: none;
  background-color: #615048;
}
.more-button:active{
  color: rgba(255, 255, 255, 0.3);
}
.pagination{
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
.pagination-link{
  margin-right: 8px;
  padding: 12px 24px;
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  border-radius:4px;
  background-color:#82B3D3;
  color: #ffffff;
}
.pagination-item:first-child .pagination-link{
  background-color: #F2F2F2;
  color: #000000;
}
.pagination-item:nth-child(5) .pagination-link{
  background-color: #F2F2F2;
  color: #000000;
}
.pagination-link:hover{
  background-color: #68A2CA;
}
.subscribe-inner{
  background: #ffffff;
  color:#000000;
}
.subscribe-inner p{
  color:#333333;
  font-size: 22px;
  line-height: 26px;
}
